<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-01-20T09:35:52Z</date>
	<key>WorkspacePath</key>
	<string>/Users/aocheng/Desktop/celine/个人/工作/scrollviewTest(图片浏览器)/scrollviewTest.xcodeproj</string>
</dict>
</plist>
